@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}
<div class="col-sm-12">
    <a style="width:60px; height:30px" asp-action="Index" asp-controller="Home" class="btn btn-primary">
        <i class="fa fa-backward"></i>
    </a>
    <div class="card card-block sameheight-item align-items-center ">
        <div class="card-header bordered">
            <header>
                @{
                    if (User.Identity.IsAuthenticated)
                    {
                        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                            <button type="submit" class="nav-link btn btn-link text-dark">
                                <i class="btn btn-danger">
                                    Click here to Logout
                                </i>
                            </button>

                        </form>
                    }
                    else
                    {
                        <p>You have successfully logged out of the application.</p>
                    }
                }
            </header>
        </div>
    </div>
</div>