@{
    ViewData["Title"] = "Home Page";
}
<style>
    .card-img-top{
        height:180px;
    }
</style>
<div class="col-sm-12">
    <div class="card card-header sameheight-item">
        <div class="card-header">
            <div class="card card-body">
                <img alt="Card image cap" class="card-img-top" src="~/images/LogoHome/teacherIcon.png" />
                <div class="card-block border">
                    <h5 class="card-header alert-info">O'qituvchi</h5>
                    <a asp-action="Index" asp-controller="Teachers" class="btn btn-primary">Sahifaga o'tish  </a>
                </div>
            </div>
            <div class="card card-body">
                <img alt="Card image cap" class="card-img-top" src="~/images/LogoHome/subjectIcon.png" />
                <div class="card-block border">
                    <h5 class="card-header">Fan</h5>
                    <a asp-controller="Subjects" asp-action="Index" class="btn btn-primary">Sahifaga o'tish</a>
                </div>
            </div>
            <div class="card card-body">
                <img alt="Card image cap" class="card-img-top" src="~/images/LogoHome/trainingplanIcon.png" />
                <div class="card-block border">
                    <h5 class="card-header">O'quv reja</h5>
                    <a asp-controller="HarvestPlans" asp-action="Index" class="btn btn-primary">Sahifaga o'tish</a>
                </div>
            </div>
            <div class="card card-body">
                <img alt="Card image cap" class="card-img-top" src="~/images/LogoHome/studentIcon.jpg" />
                <div class="card-block border">
                    <h5 class="card-header">Talaba</h5>
                    <a asp-controller="Students" asp-action="Index" class="btn btn-primary">Sahifaga o'tish</a>
                </div>
            </div>
           </div>
        </div>
    </div>
