@{
    ViewData["Title"] = "Home Page";
}

<div class="col-sm-12">
    <div class="card card-header sameheight-item">
        <div class="card-header">
            <div class="card card-body">
                <h5 class="card-header">O'qituvchilar</h5>
                <div class="card-block border">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card card-body">
                <h5 class="card-header">Fanlar</h5>
                <div class="card-block border">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card card-body">
                <h5 class="card-header">O'quv rejasi</h5>
                <div class="card-block border">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card card-body">
                <h5 class="card-header">Talabalar</h5>
                <div class="card-block border">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
           </div>
        </div>
    </div>
