@model DataModelEntity.Entity.HarvestPlan

@{
    ViewData["Title"] = "Create";
}


<div class="col-12">
    <div class="card card-block sameheight-item">
        <div class="title-block">
            <div class="header-block">
                <h2 class="title">Yangi o'quv reja</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    @if (ViewBag.grupItemNull == null)
                    {
                     <h3 class="form-group"> Hamma yo'nalish (umumiy gruh) lar uchun o'quv reja shakilantrilga </h3>
                       <div class="form-group">
                         <a class="btn btn-warning" asp-action="Index">Back to List</a>
                      </div>
                     }
                    else
                    {
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="GetDepartment.Name" class="control-label"></label>
                            <select asp-for="DepatmentId" asp-items="ViewBag.DepartmentName" class="form-control"></select>

                        </div>
                        <div class="form-group">
                            <label asp-for="GetTeacher.FullName" class="control-label"></label>
                            <select asp-for="TeacherId" class="form-control" asp-items="ViewBag.TeacherId"></select>
                        </div>
                        <div class="form-group">
                            <label asp-for="Grups.Name" class="control-label"></label>
                            <select asp-for="GrupId" class="form-control" asp-items="ViewBag.GrupId"></select>
                        </div>
                        <div class="form-group">
                            <a class="btn btn-warning" asp-action="Index">Back to List</a>
                            <input type="submit" value="Next" class="btn btn-primary" />
                        </div>
                        }

                    
                </form>
               
             
               
            
            </div>
        </div>

</div>
    </div>

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
