@model DataModelEntity.Entity.Subject

@{
    ViewData["Title"] = "Create";
}

<div class="col-12">
    <div class="card card-block sameheight-item">
        <div class="title-block">
            <div class="header-block">
                <h2 class="title">Yangi fan yaratish</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="SubjectCode" class="control-label"></label>
                        <input asp-for="SubjectCode" class="form-control" />
                        <span asp-validation-for="SubjectCode" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Fan bo'limni tanlang</label>
                        <select asp-for="SubjectBlockTypeId" class="form-control" asp-items="ViewBag.SubjectBlock"></select>
                        <br />
                        <a class="btn btn-primary-outline" asp-controller="SubjectBlockTypes" asp-action="Create">Yangi fan bo'limni yaratish</a>
                    </div>
                    <div class="form-group">
                        <label>Dars soatlar tahsimoti</label>
                        <table class="table">
                            <thead>
                                <tr class="table-active">

                                    <td>
                                        <label asp-for="Lecture" class="control-label"></label>
                                    </td>
                                    <td>
                                        <label asp-for="Practical" class="control-label"></label>
                                    </td>
                                    <td>
                                        <label asp-for="Laboratory" class="control-label"></label>
                                    </td>
                                    <td>
                                        <label asp-for="Seminar" class="control-label"></label>
                                    </td>
                                    <td>
                                        <label asp-for="CourseWork" class="control-label"></label>
                                    </td>
                                    <td>
                                        <label asp-for="IndependentEducation" class="control-label"></label>
                                    </td>
                                </tr>
                                <tr class="table-hover">

                                    <td>
                                        <div class="form-group">
                                            <input asp-for="Lecture" value="0" min="0" class="form-control" />
                                            <span asp-validation-for="Lecture" class="text-danger"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <input asp-for="Practical" value="0" min="0" class="form-control" />
                                            <span asp-validation-for="Practical" class="text-danger"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <input asp-for="Laboratory" value="0" min="0" class="form-control" />
                                            <span asp-validation-for="Laboratory" class="text-danger"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <input asp-for="Seminar" value="0" min="0" class="form-control" />
                                            <span asp-validation-for="Seminar" class="text-danger"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <input asp-for="CourseWork" value="0" min="0" class="form-control" />
                                            <span asp-validation-for="CourseWork" class="text-danger"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <input asp-for="IndependentEducation" value="0" min="0" class="form-control" />
                                            <span asp-validation-for="IndependentEducation" class="text-danger"></span>
                                        </div>
                                    </td>
                                </tr>
                            </thead>
                        </table>
                    </div>

                    <div class="form-group">
                        <label>Soatlarni kurs,semester va haftalar bo'yicha tahsimoti</label>
                        <table class="table">
                            <thead>

                                <tr class="table-active">
                                    <td width="110">
                                    </td>
                                    <td>
                                        1-kurs
                                    </td>
                                    <td>
                                        2-kurs
                                    </td>
                                    <td>
                                        3-kurs
                                    </td>
                                    <td>
                                        4-kurs
                                    </td>
                                </tr>
                                <tr class="table-hover">
                                    <td>
                                        1-semester
                                    </td>
                                    <td>
                                        <input asp-for="OneOne" min="0" value="0" class="form-control" />
                                    </td>
                                    <td>
                                        <input asp-for="TwoOne" min="0" value="0" class="form-control" />
                                    </td>
                                    <td>
                                        <input asp-for="ThreeOne" min="0" value="0" class="form-control" />
                                    </td>
                                    <td>
                                        <input asp-for="FourOne" min="0" value="0" class="form-control" />
                                    </td>
                                </tr>
                                <tr class="table-hover">
                                    <td>
                                        2-semester
                                    </td>
                                    <td>
                                        <input asp-for="OneTwo" min="0" value="0" class="form-control" />
                                    </td>
                                    <td>
                                        <input asp-for="TwoTwo" min="0" value="0" class="form-control" />
                                    </td>
                                    <td>
                                        <input asp-for="ThreeTwo" min="0" value="0" class="form-control" />
                                    </td>
                                    <td>
                                        <input asp-for="FourTwo" min="0" value="0" class="form-control" />
                                    </td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="form-group">
                        <label>Kridetlarni kurs,semester va haftalar bo'yicha tahsimoti</label>
                        <table class="table">
                            <thead>
                                <tr class="table-active">
                                    <td width="110">
                                    </td>
                                    <td>
                                        1-kurs
                                    </td>
                                    <td>
                                        2-kurs
                                    </td>
                                    <td>
                                        3-kurs
                                    </td>
                                    <td>
                                        4-kurs
                                    </td>
                                </tr>
                                <tr class="table-hover">
                                    <td>
                                        1-semester
                                    </td>
                                    <td>
                                        <input asp-for="KOneOne" min="0" value="0" class="form-control" />
                                    </td>
                                    <td>
                                        <input asp-for="KTwoOne" min="0" value="0" class="form-control" />
                                    </td>
                                    <td>
                                        <input asp-for="KThreeOne" min="0" value="0" class="form-control" />
                                    </td>
                                    <td>
                                        <input asp-for="KFourOne" min="0" value="0" class="form-control" />
                                    </td>
                                </tr>
                                <tr class="table-hover">
                                    <td>
                                        2-semester
                                    </td>
                                    <td>
                                        <input asp-for="KOneTwo" min="0" value="0" class="form-control" />
                                    </td>
                                    <td>
                                        <input asp-for="KTwoTwo" min="0" value="0" class="form-control" />
                                    </td>
                                    <td>
                                        <input asp-for="KThreeTwo" min="0" value="0" class="form-control" />
                                    </td>
                                    <td>
                                        <input asp-for="KFourTwo" min="0" value="0" class="form-control" />
                                    </td>
                                </tr>
                            </thead>
                        </table>
                    </div>


                    <div class="form-group">
                        <a class="btn btn-warning" asp-action="Index">Back to List</a>
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
</div>
    </div>

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
