@model DataModelEntity.Entity.Subject

@{
    ViewData["Title"] = "Edit";
}

<div class="col-12">
    <div class="card card-header sameheight-item">
        <a style="width:60px; height:30px" asp-action="Details" asp-controller="Subjects" asp-route-id="@Model.SubjectId" class="btn btn-primary">
            <i class="fa fa-backward"></i>
        </a><h3>Edit subject</h3>
        <div class="card-header">
            <div class="row">
                <div class="align-items-center">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="SubjectId" />
                        <div class="form-group">
                            <label asp-for="SubjectCode" class="control-label"></label>
                            <input asp-for="SubjectCode" class="form-control" />
                            <span asp-validation-for="SubjectCode" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Lecture" class="control-label"></label>
                            <input asp-for="Lecture" class="form-control" />
                            <span asp-validation-for="Lecture" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Practical" class="control-label"></label>
                            <input asp-for="Practical" class="form-control" />
                            <span asp-validation-for="Practical" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Laboratory" class="control-label"></label>
                            <input asp-for="Laboratory" class="form-control" />
                            <span asp-validation-for="Laboratory" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Seminar" class="control-label"></label>
                            <input asp-for="Seminar" class="form-control" />
                            <span asp-validation-for="Seminar" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CourseWork" class="control-label"></label>
                            <input asp-for="CourseWork" class="form-control" />
                            <span asp-validation-for="CourseWork" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="IndependentEducation" class="control-label"></label>
                            <input asp-for="IndependentEducation" class="form-control" />
                            <span asp-validation-for="IndependentEducation" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="AmountofCredit" class="control-label"></label>
                            <input asp-for="AmountofCredit" class="form-control" />
                            <span asp-validation-for="AmountofCredit" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
</div>
        </div>
        </div>

            @section Scripts {
                @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
            }
